{% extends 'base.html' %}
{% block title %}Buscar Eventos{% endblock %}
{% block body_class %}bg-buscar{% endblock %}

{% block content %}
  <section class="card">
    <h2 class="h2 center">Buscar Eventos</h2>

    <!-- Formulario -->
    <form method="get" action="." class="form">
      <div>
        <label class="label">Nombre del evento:</label>
        <input class="input" type="text" name="nombre" placeholder="Nombre del evento" value="{{ nombre }}">
      </div>

      <div>
        <label class="label">Fecha:</label>
        <input class="date" type="date" name="fecha" value="{{ fecha }}">
      </div>

      <div>
        <label class="label">Lugar:</label>
        <input class="input" type="text" name="lugar" placeholder="Ciudad o lugar" value="{{ lugar }}">
      </div>

      <div class="actions">
        <button class="btn btn-secundario" type="submit">Buscar</button>
        <a class="btn btn-primario" href="{% url 'inicio' %}">← Volver</a>
      </div>
    </form>

    <!-- Resultados -->
    {% if eventos %}
      <section class="resultados mt-32">
        <h3 class="h2 center">Resultados de la búsqueda</h3>

        <div class="resultados">
          {% for evento in eventos %}
            <div class="evento-container">
              
              <!-- Flyer principal -->
              {% if evento.flyer %}
              <div class="evento-flyer">
                <img src="{{ evento.flyer.url }}" alt="Flyer de {{ evento.nombre }}">
              </div>
              {% endif %}

              <!-- Información -->
              <div class="evento-info">
                <h2>{{ evento.nombre }}</h2>
                <p>📅 {{ evento.fecha }} {{ evento.hora }}</p>
                <p>📍 {{ evento.lugar }}</p>
                <p>👥 Aforo: {{ evento.capacidad }}</p>

                {% if evento.vestimenta %}
                  <p><strong>Vestimenta sugerida:</strong> {{ evento.vestimenta }}</p>
                {% endif %}

                <p>{{ evento.descripcion }}</p>
                <p><strong>Artistas:</strong> {{ evento.artistas }}</p>


                {% if evento.flyer_patrocinadores %}
                  <div style="margin-top:20px;">
                    <h4>Patrocinadores</h4>
                    <img src="{{ evento.flyer_patrocinadores.url }}" 
                         alt="Flyer de patrocinadores" 
                         style="max-width:250px; border-radius:8px;">
                  </div>
                {% endif %}
              </div>
            </div>
          {% empty %}
            <p class="no-resultados">No se encontraron eventos con esos criterios.</p>
          {% endfor %}
        </div>
      </section>
    {% else %}
      <p class="no-resultados mt-24 center">No se encontraron eventos.</p>
    {% endif %}
  </section>
{% endblock %}
